



<html>
<head>
<title>dogs kind</title>
</head>
<body>


 <h1> <center>German shepherd  &#128021;</center></h1>
 
<p> <h2> It is a German breed, the weight of the male is from 30 kg
 to 40 kg and the female is from 20 kg to 30 kg, the length of 
 the male from the shoulder is 60 cm to 65 cm, and the female
  is from 55 cm to 60 cm, and the female carries in her stomach
   from 4 small puppies to 10 small puppies  The life expectancy
    of the dog ranges from 9 to 13 years, and the colors of this
     dog are white, black, and yellow with black, and the hair of 
     this dog has short hair, medium hair, and long hair. It is
      one of the smartest dogs in the world and is the third 
      smartest dog in the world and because of its intelligence it 
      is used in the army and police  One of the easiest dogs that
       can be trained for anything such as hunting, grazing, guarding,
        helping the disabled, or detecting drugs, and there are
         two types of this dog: a working dog, and a watching dog. </h2></p></body>







</html>






